#slideshow
{
  position: absolute;
  left: 0%;
  top: 100px;
  width: 100%;
  height: 330px;
  background-color: black;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img 
  {
      width: 100%;
      height: 100%;
      margin: auto;
  }

#myCarousel .carouselinner
{
  height: 330px;
}

div.item
{
  height: 330px;
}











#speakers
{
  position: absolute;
  left: 0%;
  top: 450px;
  width: 100%;
  height: 100px;
}



#speaker1
{
   width: 300px;
   height: 300px;
   background-color: blue;
   margin-left: 100px;

}

#speaker2
{
   width: 300px;
   height: 300px;
   background-color: blue;
   margin-left: 50px;

}

#speaker3
{
   width: 300px;
   height: 300px;
   background-color: blue;
}

#speaker4
{
   width: 300px;
   height: 300px;
   background-color: blue;
   margin-left: 100px;
}


#speaker5
{
   width: 300px;
   height: 300px;
   background-color: blue;
   margin-left: 50px;
}

#speaker6
{
   width: 300px;
   height: 300px;
   background-color: blue;
}







#venue
{
  position: absolute;
  left: 0%;
  top: 1250px;
  width: 100%;
  height: 500px;
  background-color: gray;
}

#para
{
  position: absolute;
  left: 7%;
  top: 1800px;
  width: 90%;
  height: 300px;
  text-align: center;
}

#what
{
  font-size: 40px;
}

#tedx
{
  font-size: 20px;
}


