<html>

	<head>

		<title> CONTACT </title>

		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="styles/contact.css">	
		
	</head>



	<body>

		<p id="contactted"> Contact the TEDxIITMadras team </p>
		<p id="waiting"> Want to speak at our event? Have a question or comment? We are waiting to hear from you. </p>

		<div class="container">
		  <form  class="form-inline" name="testform"> <!-- Form -->

		  	<div class="form-group"> <!-- To input first name -->
		      	<label>Name:<span style="color : red"> *</span></label> 
		      	<br>
		      	<input type="text" class="form-control" size=50 id="Name" required="true">
		    </div>
		    <br>
		    <br>
		    <div class="form-group"> <!-- To input email ID -->
		      	<label for="email">Email address:<span style="color : red"> *</span></label>
		      	<br>
		      	<input type="email" class="form-control" size=50 id="email" required="true">
		    </div>
		    <br>
		    <br>
		    <input type="checkbox" name="opt-in" class="opt-in-checkbox"> Check here to receive email updates 
		    <br>
		    <br>
		    <div class="form-group"> <!-- To input subject -->
		      	<label for="subject">Subject:<span style="color : red"> *</span></label>
		      	<br>
		      	<input type="text" class="form-control" size=50 id="subject" required="true">
		    </div>
		    <br>
		    <br>
		    <div class="form-group"> <!-- To input message -->
		      	<label>Message:<span style="color : red"> *</span> </label>
		      	<br>
		      	<textarea class="form-control" id="message" rows=7 columns=100 required="true"></textarea>
		    </div>
		    <br> <br>
		    <button class="btn btn-primary center"> Submit </button>
		    <br><br><br><br>

		   </form>
		</div>







	</body>

	<script type="text/javascript">
		document.getElementById("home").className = "inactive";
		document.getElementById("ripple").className = "inactive";
		document.getElementById("sponsors").className = "inactive";
		document.getElementById("contact").className = "active";
		document.getElementById("previous").className = "inactive";
	</script>	


</html>