<html>

	<head>
    
    <title> HOME </title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="main.css">  

  </head>

  <body>







  </body>

  <script type="text/javascript">
    document.getElementById("home").className = "active";
    document.getElementById("ripple").className = "inactive";
    document.getElementById("sponsors").className = "inactive";
    document.getElementById("contact").className = "inactive";
    document.getElementById("previous").className = "inactive";
  </script> 


</html>