<html>

	<head>

		<title> THE RIPPLE EFFECT </title>

		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="styles/ripple.css">	

	</head>

	<body>

		<div id="top">
	
            <img id="rippleimg" src="images/ripple.jpg">
			<h1 id="heading"> THE RIPPLE EFFECT </h1>
			<br> <br>
		</div>

		<div id="content">

			

			<p class="text">		Our event, just like other TEDx events is a non-profit one, with the aim of sharing new ideas and concepts with our local community and the world. In line with the TED motto ‘Ideas Worth Spreading’, we strive to create an atmosphere of learning and sharing. We bring together fantastic speakers and their presentations for not just an event, but a thought-provoking experience. This event is organized independent of TED.  </p>

			<br>

			<p class="text">    Our theme for this year is “The Ripple Effect”. We live in a community where our actions and ideas initiate a series of reactions and changes around us. Its impact is determined by the way our community perceives the change. Hence, we intend to bring ideas that are budding in various domains to our community, through our event.  </p>

			<br> <br> <br> <br>

		</div>


		 <button id="RegisterNow3" class="btn btn-lg btn-success">
<a class="typeform-share " href="https://tedxiitmadras.typeform.com/to/ZPtIgl" data-mode="1" target="_blank">Register Now</a> </button>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';

  if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';
  if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
  </script>


	</body>

	<script type="text/javascript">
		document.getElementById("home").className = "inactive";
		document.getElementById("events").className = "inactive";
		document.getElementById("ripple").className = "active";
		document.getElementById("sponsors").className = "inactive";
		document.getElementById("contact").className = "inactive";
		document.getElementById("previous").className = "inactive";
	</script>	


</html>