<html>

  <head>

    <title> SPONSORS </title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="styles/sponsors.css"> 
    
  </head>

  <body>

      <a href="http://www.shaastra.org/#/" target="_blank"> <img id="shaastra" src="images/Shaastra_Letterhead.jpg"> </img> </a>





  </body>
  
  <script type="text/javascript">
    document.getElementById("home").className = "inactive";
    document.getElementById("events").className = "inactive";
    document.getElementById("ripple").className = "inactive";
    document.getElementById("sponsors").className = "active";
    document.getElementById("contact").className = "inactive";
    document.getElementById("previous").className = "inactive";
  </script> 


</html>